# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# 已忽略包含查询文件的默认文件夹
/queries/
/dataSources/
/dataSources.local.xml
# IDE 配置目录（WebStorm 等 JetBrains 编辑器）
.idea/

# 前端项目通用忽略
node_modules/
.DS_Store
dist/
build/
*.log

